:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}

.characterContainer {
  padding: 10px;
  padding-bottom: 20px;
  width: 200px;
  flex-direction: column;
  margin: 10px;
}

.characterContainer:hover {
  background-color: var(--blue);
  color: white;
}

img {
  width: 100%;
  height: 200px;
}

.fullName {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 120%;
}

.title {
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

/*When smaller screen */
@media (max-width: 560px) {
  section {
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-evenly;
  }

  .characterContainer {
    width: 150px;
  }

  img {
    width: 150px;
    height: 150px;
  }
}
